body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
}

.print-btn {
    width: 100px !important;
}

#menu {
    margin: 1em;
    width: 90%;
    max-width: 800px;
    border: black 2px;

    #options {
        margin: 2em;
        display: flex;
        flex-direction: column;
        justify-items: center;

        h2 {
            font-weight: bold;
            font-size: 15px;
        }

        label {
            font-size: 15px;
        }

        .background-options {
            margin-left: 2em;
            max-width: 200px;
        }

        #border-options {
            color: grey;
        }
    }

    .badge {
        color: black;
        box-sizing: border-box;
        display: block;
        margin: 0 2em;
        width: 320px; // 1.5x size of 2.13 px)
        height: 505px; //1.5x size of 3.4 px

        .logo-top {
            display: block;
            max-height: 150px;
        }

        .logo-bottom {
            display: none;
            max-width: 300px;
            max-height: 130px;
            width: auto;
            height: auto;
        }

        .content-wrapper {
            height: 100%;
        }

        h3 {
            font-size: 30px;
            margin: 0;
            max-width: 300px;
            word-wrap: normal;
            white-space: normal;
            font-weight: bold;
        }

        p {
            margin: 0;
            max-width: 200px;
            font-weight: lighter;
            font-size: 30px;
            word-wrap: normal;
            white-space: normal;
        }
    }

    .badge-counter {
        cursor: default;
    }

    .badge-counter:hover {
        background: #0d6efd !important;
    }
}

#arrows {
    width: 200px;
}

@media print {
    #arrows {
        display: none !important;
    }

    .select-badges {
        display: none !important;
    }

    body {
        margin: 0;
        padding: 0;
    }

    #menu {
        border: none !important;
        max-width: 100000px;
        padding: 0;
        margin: 0 !important;
    }

    #options {
        display: none !important;
        margin: 0;
        padding: 0;
    }

    .badge {
        position: relative;
        margin: 0 !important;
        transform-origin: center !important;
        transform: scale(1.15);
        top: 30px !important;
    }

    .badge-select {
        display: none !important;
        margin: 0;
        padding: 0;
    }
}

.printStyles{
    #arrows {
        display: none !important;
    }

    .select-badges {
        display: none !important;
    }

    body {
        margin: 0;
        padding: 0;
    }

    #menu {
        border: none !important;
        max-width: 100000px;
        padding: 0;
        margin: 0 !important;
    }

    #options {
        display: none !important;
        margin: 0;
        padding: 0;
    }

    .badge {
        position: relative;
        margin: 0 !important;
        transform-origin: center !important;
        transform: scale(1.15);
        top: 30px !important;
    }

    .badge-select {
        display: none !important;
        margin: 0;
        padding: 0;
    }
}