body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Open Sans", sans-serif;
}

#menu {
  -webkit-animation: load-in 1s ease;
          animation: load-in 1s ease;
}

#splash {
  position: fixed;
  -webkit-animation: shrink 1s forwards;
          animation: shrink 1s forwards;
}

@-webkit-keyframes load-in {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes load-in {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes shrink {
  0% {
    -webkit-filter: saturate(0);
            filter: saturate(0);
    width: 500px;
  }
  75% {
    width: 500px;
    opacity: 1;
  }
  100% {
    -webkit-filter: saturate(1);
            filter: saturate(1);
    opacity: 0;
    display: none !important;
  }
}

@keyframes shrink {
  0% {
    -webkit-filter: saturate(0);
            filter: saturate(0);
    width: 500px;
  }
  75% {
    width: 500px;
    opacity: 1;
  }
  100% {
    -webkit-filter: saturate(1);
            filter: saturate(1);
    opacity: 0;
    display: none !important;
  }
}

.print-btn {
  width: 100px !important;
}

#menu {
  margin: 1em;
  width: 90%;
  max-width: 800px;
  border: black 2px;
}

#menu #options {
  margin: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
}

#menu #options h2 {
  font-weight: bold;
  font-size: 15px;
}

#menu #options label {
  font-size: 15px;
}

#menu #options .background-options {
  margin-left: 2em;
  max-width: 200px;
}

#menu #options #border-options {
  color: grey;
}

#menu * {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#menu .badge {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: 0 2em;
  width: 320px;
  height: 505px;
}

#menu .badge .logo-top {
  display: block;
  max-height: 150px;
}

#menu .badge .logo-bottom {
  display: none;
  max-width: 300px;
  max-height: 130px;
  width: auto;
  height: auto;
}

#menu .badge .content-wrapper {
  height: 100%;
}

#menu .badge h3 {
  font-size: 30px;
  margin: 0;
  max-width: 300px;
  word-wrap: normal;
  white-space: normal;
  font-weight: bold;
}

#menu .badge p {
  margin: 0;
  max-width: 200px;
  font-weight: lighter;
  font-size: 30px;
  word-wrap: normal;
  white-space: normal;
}

#menu .badge-counter {
  cursor: default;
}

#menu .badge-counter:hover {
  background: #0d6efd !important;
}

#arrows {
  width: 200px;
}

@media print {
  #arrows {
    display: none !important;
  }
  .select-badges {
    display: none !important;
  }
  body {
    margin: 0;
    padding: 0;
  }
  #menu {
    border: none !important;
    max-width: 100000px;
    padding: 0;
    margin: 0 !important;
  }
  #options {
    display: none !important;
    margin: 0;
    padding: 0;
  }
  .badge {
    position: relative;
    margin: 0 !important;
    -webkit-transform-origin: center !important;
            transform-origin: center !important;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    top: 30px !important;
  }
  .badge-select {
    display: none !important;
    margin: 0;
    padding: 0;
  }
  #credit {
    display: none !important;
  }
}

.printStyles #arrows {
  display: none !important;
}

.printStyles .select-badges {
  display: none !important;
}

.printStyles body {
  margin: 0;
  padding: 0;
}

.printStyles #menu {
  border: none !important;
  max-width: 100000px;
  padding: 0;
  margin: 0 !important;
}

.printStyles #options {
  display: none !important;
  margin: 0;
  padding: 0;
}

.printStyles .badge {
  position: relative;
  margin: 0 !important;
  -webkit-transform-origin: center !important;
          transform-origin: center !important;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  top: 30px !important;
}

.printStyles .badge-select {
  display: none !important;
  margin: 0;
  padding: 0;
}

.printStyles #credit {
  display: none !important;
}
/*# sourceMappingURL=style.css.map */