body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
}

#menu {
    margin: 1em;
    width: 90%;
    max-width: 800px;
    border: black 2px;

    #options {
        margin: 2em;
        display: flex;
        flex-direction: column;
        justify-items: center;

        h2 {
            font-weight: bold;
            font-size: 19px;
        }

        label {
            font-size: 16px;
        }

        .background-options {
            margin-left: 2em;
            max-width: 200px;
        }

        #border-options {
            color: grey;
        }
    }

    .badge {
        color: black;
        box-sizing: border-box;
        display: block;
        width: 45%;
        margin: 2em;
        background-color: #32a852;
        width: 320px; // 1.5x size of 2.13 px)
        height: 510px; //1.5x size of 3.4 px

        h3 {
            font-size: 40px;
        }

        p {
            font-weight: lighter;
            font-size: 30px;
        }

        .content-wrapper {
            img {
                margin: 7px;
            }
        }
    }
}

@media print {
    #menu {
        border: none !important;
        max-width: 100000px;
    }

    #options {
        display: none !important;
        margin: 0;

        .badge {
            margin: 0;
            transform: scale(2);
        }
    }